{% extends "base.html" %}

{% block content %}


  <div class="container">
    

    <h1>  Welcome to the RF App! </h1>
    <p>
     This is a tool to assess plant water availability and erosion risk using storm-scale simulations.    
    </p>
    <p><a href="https://www.npr.org/?refresh=true" class="btn btn-primary btn-large">Learn more »</a></p>    
    
    </div>
    
    
    <div class="container"> <!-- If Needed Left and Right Padding in 'md' and 'lg' screen means use container class -->
        <div class="row">
        
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          
            <p>  Upload vegetation map </p>

            <form action="" method="POST"  enctype="multipart/form-data">        
                {{ vegform.hidden_tag() }}                
                 <p>                              
                {% if features.filename %}
                veg file selected :  {{vegform.veg.data.filename}} {{vegform.delete()}} <br> 
               </p> 
                
                <p> 
                {% else %}
                {{vegform.veg }}
                {{ vegform.submit() }}
                {% endif %}
              </p> 
            
            </form>
 
            {% if result != None %}
            <img src="data:image/png;base64,{{ result }}" width="500">
            {% endif %}
 
            <form action="" method="POST"  enctype="multipart/form-data">                             
            {{ form.hidden_tag() }}                
            <p>
            {{ form.threshold.label }}
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            {{ form.threshold(min=0, max=100, oninput="outputUpdate(value)") }}                
            </div>
            <output for="threshold" id="selected-threshold">{{form.threshold.data }}</output>
                <p>
                    {{ form.slope.label }}
                    {{ form.slope(size=8) }}
                    {% for error in form.slope.errors %}
                    <span style="color: blue;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    
                    {{ form.grid.label }} 
                    {{ form.grid(size=8 )}}
                    {% for error in form.grid.errors %}
                    <span style="color: blue;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>{{ form.submit() }}</p>

            </form>

            <img src="/static/forest.png" height="400">	

        </div>
        
        
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          
            <a href="#myModal1" data-toggle="modal">SHARE</a>
            <h3 class="text-success">Climate features</h3>
            
            <p> This is where the user will upload storm chararacteristics </p>
            <p><a class="btn" href="https://www.npr.org/?refresh=true">View details »</a></p>
   
            <a href="#myModal1" data-toggle="modal">SHARE</a>
            
            <h3 class="text-success"> Soil features </h3>
                        
            <p > This is where the user will upload soil characteristics </p>
            <p><a class="btn" href="https://www.npr.org/?refresh=true">View details »</a></p>

            



            
        </div>
        
        </div>
    </div>
    
  
  </div>
  



{% endblock %}
