<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Recalls</title>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>


<body>
  
<h1>Landscape features </h1>

<h3>Your selected file: {{ filename }}</h3>

<h3>Features: </h3>
  
<h3>
{% for key, value in features.iteritems() %}
   <tr>
        <li> {{ key }}  = {{ value }} </li>
   </tr>
{% endfor %}
</h3>

<h3>Does this veg map look right?  </h3>

<img src="{{url_for('static', filename='veg.png')}}" />


<h3> Yes?  <a href = '{{url_for('apply_RF', filename = filename)}}'> Run Random Forest Model! </a><h3>

<h3> No?  <a href = '{{url_for('upload_file')}}'> Try another file </a><h3>  


</body>


</html>
